/*** BEGIN file-header ***/
#pragma once

#include "spice.h"

SPICE_BEGIN_DECLS

/*** END file-header ***/

/*** BEGIN enumeration-production ***/
const char *@EnumName@_get_nick(@EnumName@ value);
/*** END enumeration-production ***/

/*** BEGIN file-tail ***/
SPICE_END_DECLS
/*** END file-tail ***/
